@model IEnumerable<Asignatura>

@{
    ViewData["Title"] = "Información de Asignatura";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>

<strong> Desde La vista parcial</strong>

<partial name="ListaObjetosEscuela" />

@*@foreach(var asignatura in @Model)
{
    <partial name="ObjetoEscuelaBaseSimple" model="asignatura"/>
}*@

<br />
<p>
    <i>
        @ViewBag.Fecha
    </i>
</p>