
<div class="text-center">
    <h1 class="display-4">Bienvenido a Corex VF</h1>
    <p>Vea nuestras redes sociales: <a href="https://www.facebook.com/Corex-VF-111778173861053">Facebook Corex VF</a>.</p>
</div>
